*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #083b4c;
}
h1{
    margin-top: 50px;
    text-align: center;
    font-size: 5rem;
    color: #fff;
}
.boxes{
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin: 50px auto;
}
.box{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.boxes .box-general{
    background-color: #1389b2;
}
.boxes .box-yellow{
    background-color: #ffd166;
}
.boxes .box-red{
    background-color: #f0466f;
}
.boxes .box-green{
    background-color: #0bd6a1;
}
